
@font-face {
  font-family: 'MsNormal';
  src: local('Microsoft New Tai Lue'),
    url(../fonts/ntailu.ttf) format('ttf');
}

@font-face {
  font-family: 'MsBold';
  src: local('Microsoft New Tai Lue'),
    url(../fonts/ntailub.ttf) format('ttf');
}
body {
	background: #edf2f7;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


